* {
  box-sizing: border-box;
}

html {
  background: #000;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  position: relative;
  color: #fff;
  font: normal 16px FreeSans, Helvetica, sans-serif;
  background: url('/img/drink.jpg') no-repeat;
  background-position: 100% 0;
  background-size: contain;
  background-attachment: fixed;
}

#background {
  width: 100%;
  position: fixed;
  top: -100px;
  left: 0;
  z-index: -1;
}

#wrapper h1 {
  font-size: 3rem;
}

#wrapper button {
  background: #333;
  color: #fff;
  border: 1px solid #444;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.1s ease;
}

#wrapper button:hover {
  background: #444;
}

#wrapper {
  width: 600px;
  max-width: 100%;
  padding: 50px;
  margin: 0;
  font-size: 1.5rem;
}

#add-drink {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  max-width: 480px;
}

#add-drink input {
  flex-grow: 1;
  height: 50px;
  padding: 0.2rem 0.8rem;
  font-size: 1.5rem;
  background: #1a1a1a;
  color: #fff;
  border: 1px solid #444;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

#add-drink input::placeholder {
  color: #888;
}

#add-drink input:focus {
  border-color: #ccc;
}

#add-drink button {
  width: 100px;
  height: 50px;
  padding: 0.2rem 0.8rem;
  font-size: 1.25rem;
}

#wrapper li {
  line-height: 1.5em;
}

#wrapper li:hover button {
  display: inline-block;
}

#wrapper li button {
  display: none;
  opacity: 0.5;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  margin-left: 0.8rem;
}

#wrapper li button:hover {
  opacity: 1;
}

#background-credit {
  position: fixed;
  bottom: 5px;
  right: 10px;
  font-size: 10px;
  opacity: 0.3;
  white-space: nowrap;
}

#background-credit a {
  color: #fff;
}

#widget-wrapper {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  #wrapper {
    padding: 5rem 1rem 0 1rem;
  }

  #add-drink {
    flex-direction: column;
    gap: 0.8rem;
    max-width: 100%;
  }

  #add-drink input {
    width: 100%;
  }

  #add-drink button {
    width: 100%;
  }

  #wrapper li button {
    display: inline-block;
  }

  #widget-wrapper {
    top: auto;
    right: auto;
  }

  #remotestorage-widget {
    top: auto;
    right: auto;
    position: relative;
  }
}
