html { background:#000; }
body { width: 480px; margin: 50px; margin:0; padding:0; color:#fff; font:normal 1.5em/150% FreeSans,Helvetica,sans-serif; }

#background { width:100%; position:fixed; top:-100px; left:0; z-index:-1; }
#background-credit { position:fixed; bottom:5px; right:10px; font-size:10px; opacity:.3; white-space:nowrap; }
#background-credit a { color:#fff; }

input { float:left; width:380px; height:30px; padding:10px; font-size:24px; border:none;}
button { width:80px; height:50px; padding:10px; font-size:24px; background:#ccc; border:none; cursor:pointer; }
button:hover { background:#aaa; }
#other-box input { width:200px; }

li span { cursor:pointer; opacity:.3; }
li span:hover { opacity:1; }

li span.share, li span.shared { font-size: 0.4em; color: #ddf; }
li span.shared { opacity: 1; }

#other-box {
    background: black;
    border-radius: 20px 0 0 20px;
    position: absolute;
    top: 100px;
    right: 0;
    padding: 30px;
    width: 300px;
    height: 500px;
}

#other-box.hidden {
    height: 35px;
    padding: 0 0 0 20px;
    width: 130px;
    overflow: hidden;
}

#other-box h2 {
    margin: 0;
    cursor: pointer;
}

#other-box.hidden h2 {
    font-size: 0.7em;
}

#other-box .own-favorite {
    color: #f0f;
}
